body{
    background: #123;
}
#pes #te{
    width: 50%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#test{
    background: red;
    width: 100%;
    height: 50vh;
    padding: 0;
    margin: 0;
}
#pe{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 0;
    flex-direction: column;
    margin: 0;
}
#tes *{
    font-size: 32px;
    font-weight: 700;
}
#pes #tes{
    width: 50%;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pes{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;   
    align-items: center;
}
#pes #tes p{
    text-align: center;
}
#pes *{
    margin: 4px;
}
input:focus{
    width: 150px;
    transition: 2s;
    outline: none;
}
input{
    border-radius: 3px;
    transition: 2s;
    border:none;
    padding: 4px;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#pes h2{
    color: white;
}
button:hover{
    color: white;
    background: #123;
    transition: 1s;
}
button{
    margin: 10px;
    border: none;
    padding: 10px;
    width: 80px;
    font-size: 22px;
    font-size: 700;
    transition: 1s;
}